<div id=home class=container>

  <div class=hero-unit>
    <h1>The RFC is now <em>diamonds</em></h1>
    <p>
    <abbr title="Request For Comments" class=initialism>RFC</abbr>s are
    documents produced by
    <a href="http://www.ietf.org">The Internet Engineering Task Force</a>,
    and many are official standards for various Internet protocols.
    This site indexes and formats these documents for easier finding &amp; viewing.
    </p>

    <form action=/search class=form-search>
      <input type=search class=search-query name=q placeholder="Search RFCs">
      <input type=submit value="Search" class=btn>
    </form>

    <p class=note><strong>Note:</strong> most RFCs can't be prettified at the
    moment, as their source files are unavailable to the public and need to be requested from rfc-editor.org. I'm working on this.</p>
  </div>

  <div class=row>
    <aside id=featured class=span8>
      <h2>Featured documents:</h2>
      <ul>
        <li><a href="<%= url '/RFC2616' %>">RFC 2616: HTTP/1.1</a></li>
        <li><a href="<%= url '/RFC3986' %>">RFC 3986: URI syntax</a></li>
        <li><a href="<%= url '/RFC2460' %>">RFC 2460: IPv6 specification</a></li>
        <li><a href="<%= url '/RFC3920' %>">RFC 3920: XMPP core</a></li>
        <li>
        <a href="<%= url '/draft-ietf-oauth-v2' %>">draft: OAuth 2.0</a>
        (<a href="https://s3.amazonaws.com/mislav/oauth.pdf">PDF</a>)
        </li>
      </ul>
    </aside>

    <footer class=span4>
      <p>
        Bookmarklet:
        <a href="javascript:window.location='<%= url('/url/') %>'+window.location.toString().replace('#','?hash=')">Prettify RFC</a>
      </p>
      <p>Coming next:</p>
      <ol>
        <li>prettify ALL of the RFCs</li>
        <li>PDF, EPUB &amp; Kindle formats</li>
      </ol>
      <p>
      By <a href="http://mislav.uniqpath.com">Mislav</a> ·
      <a href="https://github.com/mislav/rfc">Source code on GitHub</a>.
      </p>
    </footer>
  </div>
</div>
