<% page_title '%s: %s' % [display_document_id(@rfc), @rfc.title] %>

<% if @rfc.pretty? %>
  <div class=navbar>
    <div class=navbar-inner>
      <nav class=container>
        <ul class=nav>
          <li><a href="<%= home_path %>">&larr; Home</a></li>
          <li><a href="<%= @rfc.external_url %>">Offical location</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <%= @rfc.body %>
<% else %>
  <div class=container>
    <div class=page-header>
      <nav><a href="<%= home_path %>">&larr; Home</a></nav>
      <h1>
        <%== @rfc.title %>
        <small><%= display_document_id @rfc %></small>
      </h1>
    </div>
    <div class="alert alert-block">
      <h4 class=alert-heading>Could not prettify this RFC</h4>
      <p>The source XML for this RFC isn't available, therefore it can't be reformatted.</p>
    </div>
    <%= display_abstract @rfc.abstract %>

    <ul class=unstyled>
      <li>
        <a class=btn href="<%= @rfc.external_url %>">Read it from offical location &rarr;</a>
      </li>
    </ul>
  </div>
<% end %>
