<style>body { string-set: short-title "<%== (short_title || title).gsub('"', '\"') %>" }</style>
<!--<meta name="keywords" content="<%== keywords.join(', ') %>">-->

<article>
<section class="titlepage">
  <% if number? %><p class="rfc">
    RFC <%== number %>
    <% if category? %>(<%== category %> document)<% end %>
  </p><% end %>
  <h1><%== title %></h1>

  <% if abstract? %><%= render abstract %><% end %>

  <% if authors? %>
  <section class="authors">
    <p>Authors:</p>
    <ol><% for author in authors %>
      <li class="vcard">
        <%= link_to author.name, author.url, %w[url fn] %><% if author.organization? %>,
          <span class="org"><%== author.organization %><% end %></span>
        <% if author.role? %>(<%== author.role %>)<% end %>
        <% if author.email? %><%= mail_to author.email, author.email, 'email' %><% end %>
      </li>
    <% end %></ol>
  </section>
  <% end %>
</section>

<aside>
  <ol class=toc><% for section in sections %>
    <li><a href="#<%= section.id %>"><%= section.title %></a></li>
    <ol><% for subsection in section.sections %>
      <li><a href="#<%= subsection.id %>"><%= subsection.title %></a></li>
    <% end %></ol>
  <% end %></ol>
</aside>

<% for section in sections %>
  <%= render section %>
<% end %>

<% if references? %>
<section class="references">
  <h2>References</h2>
  <ol><% for reference in references %>
    <%= render reference %>
  <% end %></ol>
</section>
<% end %>

<% if back_sections? %>
<section class="appendix">
  <h2>Appendix</h2>
  <% for section in back_sections %>
    <%= render section %>
  <% end %>
</section>
<% end %>

</article>
