<style>body { string-set: short-title "<%== (short_title || title).gsub('"', '\"') %>" }</style>

<article>
<section class="titlepage">
  <div class=page-header>
    <h1>
      <%== title %>
      <small><%= nbsp display_id %></small>
    </h1>
  </div>

  <% if abstract? %><%= render abstract %><% end %>

  <% if authors? %>
  <section class="authors">
    <h3>Authors:</h3>
    <ol><% for author in authors %>
      <li class="vcard">
        <%= link_to author.name, author.url, %w[url fn] %><% if author.organization? %>,
          <span class="org"><%== author.organization %><% end %></span>
        <% if author.role? %>(<%== author.role %>)<% end %>
        <% if author.email? %><%= mail_to author.email, author.email, 'email' %><% end %>
      </li>
    <% end %></ol>
  </section>
  <% end %>
</section>

<aside>
  <ol class=toc>
    <li><%= nbsp display_id %></li>
  <% for section in sections %>
    <li><a href="#<%= section.id %>"><%= section.title %></a></li>
    <ol><% for subsection in section.sections %>
      <li><a href="#<%= subsection.id %>"><%= subsection.title %></a></li>
    <% end %></ol>
  <% end %></ol>
</aside>

<% for section in sections %>
  <%= render section %>
<% end %>

<% if references? %>
<section class="references">
  <h2>References</h2>
  <ol><% for reference in references %>
    <%= render reference %>
  <% end %></ol>
</section>
<% end %>

<% if back_sections? %>
<section class="appendix">
  <h2>Appendix</h2>
  <% for section in back_sections %>
    <%= render section %>
  <% end %>
</section>
<% end %>

</article>
