<% case style %>
<% when 'symbols', 'empty' %>
  <ul class="<%= style %>"><% for element in elements %>
    <li><%= render element %></li>
  <% end %></ul>
<% when 'numbers', 'alpha' %>
  <ol class="<%= style %>"><% for element in elements %>
    <li><%= render element %></li>
  <% end %></ol>
<% when 'hanging' %>
  <dl><% for element in elements %>
    <dt><%== element['hangText'] %></dt>
    <dd><%= render element %></dd>
  <% end %></dl>
<% else raise "unrecognized list style: #{style.inspect}" %>
<% end %>
